/.postgres/keycloak/*
!/.postgres/keycloak/.gitkeep
/.postgres/game/*
!/.postgres/game/.gitkeep

# Rust
/target
Cargo.lock

# IDEs
.vscode
.idea

.env
/.direnv

**/*.rs.bk
/*.data
/*.gz
*.local
